$yellow-50: #fdf9f3;
$yellow-100: #faf4e7;
$yellow-200: #f8efdb;
$yellow-300: #f5e9d0;
$yellow-400: #f3e4c4;
$yellow-500: #f1dfb8;
$yellow-600: #eed9ac;
$yellow-700: #ecd4a1;
$yellow-800: #e9ce95;
$yellow-900: #e7c989;

$purple-50: #f2e8ed;
$purple-100: #e5d3db;
$purple-200: #d7bcc9;
$purple-300: #caa7b7;
$purple-400: #bd90a5;
$purple-500: #b07a93;
$purple-600: #a26481;
$purple-700: #954e6f;
$purple-800: #88385d;
$purple-900: #7b224b;

$gray-50: #eeeeee;
$gray-100: #ececec;
$gray-200: #dedede;
$gray-300: #cdcdcd;
$gray-400: #acacac;
$gray-500: #9b9b9b;
$gray-600: #8a8a8a;
$gray-700: #7a7a7a;
$gray-800: #696969;
$gray-900: #595959;
